</p> This version works only with the keyboard
<div id="hp12c_div" style="position: relative; height: 281px; width: 450px; margin: auto;">

	<img src="images/apps/hp12c/hp12c.png" style="position: absolute; left: 0px; top:0px;" id="cross" alt="">
	<div style="z-index:1; position:absolute; left: 87px; top:24px; font-weight: bold; font-size: 16px; font-family: sans-serif;">
		<span id="display"></span>
	</div>
	<div style="z-index:1; position:absolute; left: 90px; top:42px; font-size: 9px; font-family: sans-serif;">
		<span id="modifier"></span>
	</div>
	<div style="z-index:1; position:absolute; left: 193px; top:42px; font-size: 9px; font-family: sans-serif;">
		<span id="begin"></span>
	</div>
	<div style="z-index:1; position:absolute; left: 231px; top:42px; font-size: 9px; font-family: sans-serif;">
		<span id="dmyc"></span>
	</div>
	<div style="z-index:1; position:absolute; left: 141px; top:42px; font-size: 9px; font-family: sans-serif;">
		<span id="pgrm"></span>
	</div>

	<img id="lcd0a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 89px; visibility: hidden; ">
	<img id="lcd0b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 89px; visibility: hidden; ">
	<img id="lcd0c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 89px; visibility: hidden; ">
	<img id="lcd0d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 89px; visibility: hidden; ">
	<img id="lcd0e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 89px; visibility: hidden; ">
	<img id="lcd0f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 89px; visibility: hidden; ">
	<img id="lcd0g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 89px; visibility: hidden; ">
	<img id="lcd0p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 89px; visibility: hidden; ">
	<img id="lcd0t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 89px; visibility: hidden; ">

	<img id="lcd1a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 107px; visibility: visible; ">
	<img id="lcd1b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 107px; visibility: visible; ">
	<img id="lcd1c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 107px; visibility: visible; ">
	<img id="lcd1d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 107px; visibility: hidden; ">
	<img id="lcd1e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 107px; visibility: visible; ">
	<img id="lcd1f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 107px; visibility: visible; ">
	<img id="lcd1g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 107px; visibility: visible; ">
	<img id="lcd1p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 107px; visibility: visible; ">
	<img id="lcd1t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 107px; visibility: hidden; ">

	<img id="lcd2a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 125px; visibility: visible; ">
	<img id="lcd2b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 125px; visibility: visible; ">
	<img id="lcd2c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 125px; visibility: visible; ">
	<img id="lcd2d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 125px; visibility: hidden; ">
	<img id="lcd2e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 125px; visibility: visible; ">
	<img id="lcd2f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 125px; visibility: visible; ">
	<img id="lcd2g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 125px; visibility: visible; ">
	<img id="lcd2p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 125px; visibility: hidden; ">
	<img id="lcd2t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 125px; visibility: hidden; ">

	<img id="lcd3a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 143px; visibility: visible; ">
	<img id="lcd3b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 143px; visibility: visible; ">
	<img id="lcd3c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 143px; visibility: visible; ">
	<img id="lcd3d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 143px; visibility: hidden; ">
	<img id="lcd3e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 143px; visibility: visible; ">
	<img id="lcd3f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 143px; visibility: visible; ">
	<img id="lcd3g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 143px; visibility: visible; ">
	<img id="lcd3p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 143px; visibility: hidden; ">
	<img id="lcd3t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 143px; visibility: hidden; ">

	<img id="lcd4a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 161px; visibility: hidden; ">
	<img id="lcd4b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 161px; visibility: hidden; ">
	<img id="lcd4c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 161px; visibility: hidden; ">
	<img id="lcd4d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 161px; visibility: hidden; ">
	<img id="lcd4e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 161px; visibility: hidden; ">
	<img id="lcd4f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 161px; visibility: hidden; ">
	<img id="lcd4g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 161px; visibility: hidden; ">
	<img id="lcd4p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 161px; visibility: hidden; ">
	<img id="lcd4t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 161px; visibility: hidden; ">

	<img id="lcd5a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 179px; visibility: hidden; ">
	<img id="lcd5b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 179px; visibility: hidden; ">
	<img id="lcd5c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 179px; visibility: hidden; ">
	<img id="lcd5d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 179px; visibility: hidden; ">
	<img id="lcd5e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 179px; visibility: hidden; ">
	<img id="lcd5f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 179px; visibility: hidden; ">
	<img id="lcd5g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 179px; visibility: hidden; ">
	<img id="lcd5p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 179px; visibility: hidden; ">
	<img id="lcd5t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 179px; visibility: hidden; ">

	<img id="lcd6a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 197px; visibility: hidden; ">
	<img id="lcd6b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 197px; visibility: hidden; ">
	<img id="lcd6c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 197px; visibility: hidden; ">
	<img id="lcd6d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 197px; visibility: hidden; ">
	<img id="lcd6e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 197px; visibility: hidden; ">
	<img id="lcd6f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 197px; visibility: hidden; ">
	<img id="lcd6g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 197px; visibility: hidden; ">
	<img id="lcd6p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 197px; visibility: hidden; ">
	<img id="lcd6t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 197px; visibility: hidden; ">

	<img id="lcd7a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 215px; visibility: hidden; ">
	<img id="lcd7b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 215px; visibility: hidden; ">
	<img id="lcd7c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 215px; visibility: hidden; ">
	<img id="lcd7d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 215px; visibility: hidden; ">
	<img id="lcd7e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 215px; visibility: hidden; ">
	<img id="lcd7f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 215px; visibility: hidden; ">
	<img id="lcd7g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 215px; visibility: hidden; ">
	<img id="lcd7p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 215px; visibility: hidden; ">
	<img id="lcd7t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 215px; visibility: hidden; ">

	<img id="lcd8a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 233px; visibility: hidden; ">
	<img id="lcd8b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 233px; visibility: hidden; ">
	<img id="lcd8c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 233px; visibility: hidden; ">
	<img id="lcd8d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 233px; visibility: hidden; ">
	<img id="lcd8e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 233px; visibility: hidden; ">
	<img id="lcd8f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 233px; visibility: hidden; ">
	<img id="lcd8g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 233px; visibility: hidden; ">
	<img id="lcd8p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 233px; visibility: hidden; ">
	<img id="lcd8t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 233px; visibility: hidden; ">

	<img id="lcd9a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 251px; visibility: hidden; ">
	<img id="lcd9b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 251px; visibility: hidden; ">
	<img id="lcd9c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 251px; visibility: hidden; ">
	<img id="lcd9d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 251px; visibility: hidden; ">
	<img id="lcd9e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 251px; visibility: hidden; ">
	<img id="lcd9f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 251px; visibility: hidden; ">
	<img id="lcd9g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 251px; visibility: hidden; ">
	<img id="lcd9p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 251px; visibility: hidden; ">
	<img id="lcd9t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 251px; visibility: hidden; ">

	<img id="lcd10a" src="images/apps/hp12c/lcda.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 269px; visibility: hidden; ">
	<img id="lcd10b" src="images/apps/hp12c/lcdb.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 269px; visibility: hidden; ">
	<img id="lcd10c" src="images/apps/hp12c/lcdc.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 269px; visibility: hidden; ">
	<img id="lcd10d" src="images/apps/hp12c/lcdd.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 269px; visibility: hidden; ">
	<img id="lcd10e" src="images/apps/hp12c/lcde.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 269px; visibility: hidden; ">
	<img id="lcd10f" src="images/apps/hp12c/lcdf.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 269px; visibility: hidden; ">
	<img id="lcd10g" src="images/apps/hp12c/lcdg.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 269px; visibility: hidden; ">
	<img id="lcd10p" src="images/apps/hp12c/lcdp.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 269px; visibility: hidden; ">
	<img id="lcd10t" src="images/apps/hp12c/lcdt.png" alt="" style="z-index: 1; position: absolute; top: 25px; left: 269px; visibility: hidden; ">

	<!--[if lt IE 7]>
	<script type="text/javascript">
	var lcd_broken = 1;
	</script>
	<![endif]-->

</div>



<div id="hp12c_div" style="position: relative; height: 281px; width: 450px; margin: auto;">
	<img src="images/apps/hp12c/hp12c_keys.jpg" style="position: absolute; left: 0px; top:0px;" id="cross" alt="">
	<span style="position: absolute; left: 32px; top: 95px;" class="hpkey">N</span>
	<span style="position: absolute; left: 72px; top: 95px;" class="hpkey"> I</span>
	<span style="position: absolute; left: 113px; top: 95px;" class="hpkey">P</span>
	<span style="position: absolute; left: 153px; top: 95px;" class="hpkey">M</span>
	<span style="position: absolute; left: 194px; top: 95px;" class="hpkey">V</span>
	<span style="position: absolute; left: 234px; top: 95px;" class="hpkey">H</span>
	<span style="position: absolute; left: 275px; top: 95px;" class="hpkey">7</span>
	<span style="position: absolute; left: 315px; top: 95px;" class="hpkey">8</span>
	<span style="position: absolute; left: 356px; top: 95px;" class="hpkey">9</span>
	<span style="position: absolute; left: 396px; top: 95px;" class="hpkey">/:</span>
	<span style="position: absolute; left: 32px; top: 140px;" class="hpkey">!</span>
	<span style="position: absolute; left: 72px; top: 140px;" class="hpkey">\</span>
	<span style="position: absolute; left: 113px; top: 140px;" class="hpkey">#</span>
	<span style="position: absolute; left: 153px; top: 140px;" class="hpkey">$</span>
	<span style="position: absolute; left: 194px; top: 140px;" class="hpkey">%</span>
	<span style="position: absolute; left: 234px; top: 140px;" class="hpkey">E</span>
	<span style="position: absolute; left: 275px; top: 140px;" class="hpkey">4</span>
	<span style="position: absolute; left: 315px; top: 140px;" class="hpkey">5</span>
	<span style="position: absolute; left: 356px; top: 140px;" class="hpkey">6</span>
	<span style="position: absolute; left: 396px; top: 140px;" class="hpkey">X*</span>
	<span style="position: absolute; left: 32px; top: 185px;" class="hpkey">[</span>
	<span style="position: absolute; left: 72px; top: 185px;" class="hpkey">]</span>
	<span style="position: absolute; left: 113px; top: 185px;" class="hpkey">D</span>
	<span style="position: absolute; left: 153px; top: 185px;" class="hpkey">Y</span>
	<span style="position: absolute; left: 194px; top: 185px;" class="hpkey">C</span>
	<span style="position: absolute; left: 225px; top: 195px;" class="hpkeysmall">return</span>
	<span style="position: absolute; left: 225px; top: 210px;" class="hpkeysmall">space</span>
	<span style="position: absolute; left: 275px; top: 185px;" class="hpkey">1</span>
	<span style="position: absolute; left: 315px; top: 185px;" class="hpkey">2</span>
	<span style="position: absolute; left: 356px; top: 185px;" class="hpkey">3</span>
	<span style="position: absolute; left: 396px; top: 185px;" class="hpkey">-</span>
	<span style="position: absolute; left: 32px; top: 229px;" class="hpkey">O</span>
	<span style="position: absolute; left: 72px; top: 229px;" class="hpkey">F</span>
	<span style="position: absolute; left: 113px; top: 229px;" class="hpkey">G</span>
	<span style="position: absolute; left: 153px; top: 229px;" class="hpkey">S</span>
	<span style="position: absolute; left: 194px; top: 229px;" class="hpkey">R</span>
	<span style="position: absolute; left: 275px; top: 229px;" class="hpkey">0</span>
	<span style="position: absolute; left: 315px; top: 229px;" class="hpkey">.</span>
	<span style="position: absolute; left: 356px; top: 229px;" class="hpkey">W</span>
	<span style="position: absolute; left: 396px; top: 229px;" class="hpkey">+=</span>
	<span style="position: absolute; left: 100px; top: 30px;" class="hpkeysmall">Z: correct typing (rubout)</span>
</div>

</div>
