@import "../../partials/base";

@charset "UTF-8";

@font-face {
    font-family: 'entypo';
    src: url('#{$stylesPath}/fonts/entypo.eot');
    src: url('#{$stylesPath}/fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('#{$stylesPath}/fonts/entypo.woff') format('woff'),
         url('#{$stylesPath}/fonts/entypo.ttf') format('truetype'),
		 url('#{$stylesPath}/fonts/entypo.otf') format('opentype'),
         url('#{$stylesPath}/fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon,
[class^="icon-"],
[class*=" icon-"] {
	background-image: none !important;	
}

.icon {
	font-family: "entypo", sans-serif;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	color: #7A848D;
	content: attr(data-icon);
	text-decoration: none !important;
}

.icon.black:before,
[class^="icon-"].black,
[class*=" icon-"].black,
.black [class^="icon-"],
.black [class*=" icon-"] {
  color: #999;
}

.icon:hover:before {
	color: #616a72;
	text-decoration: none !important; 
}

.icon.black:hover:before,
[class^="icon-"].black:hover,
[class*=" icon-"].black:hover,
.black [class^="icon-"]:hover,
.black [class*=" icon-"]:hover {
  color: #3e9be3 !important;
  text-decoration: none !important;
}

.icon.arrow:before {
  display: inline-block;
  float: right;
}

.icon-plus:before { content: "+"; }

.icon-minus:before { content: "-"; }

.icon-info:before { content: "ℹ"; }

.icon-left-thin:before { content: "←"; }

.icon-up-thin:before { content: "↑"; }

.icon-right-thin:before { content: "→"; }

.icon-down-thin:before { content: "↓"; }

.icon-level-up:before { content: "↰"; }

.icon-level-down:before { content: "↳"; }

.icon-switch:before { content: "⇆"; }

.icon-infinity:before { content: "∞"; }

.icon-plus-squared:before { content: "⊞"; }

.icon-minus-squared:before { content: "⊟"; }

.icon-home:before { content: "⌂"; }

.icon-keyboard:before { content: "⌨"; }

.icon-erase:before { content: "⌫"; }

.icon-pause:before { content: "⎉"; }

.icon-fast-forward:before { content: "⏩"; }

.icon-fast-backward:before { content: "⏪"; }

.icon-to-end:before { content: "⏭"; }

.icon-to-start:before { content: "⏮"; }

.icon-hourglass:before { content: "⏳"; }

.icon-stop:before { content: "■"; }

.icon-up-dir:before { content: "▴"; }

.icon-play:before { content: "▶"; }

.icon-right-dir:before { content: "▸"; }

.icon-down-dir:before { content: "▾"; }

.icon-left-dir:before { content: "◂"; }

.icon-adjust:before { content: "◑"; }

.icon-cloud:before { content: "☁"; }

.icon-star:before { content: "★"; }

.icon-star-empty:before { content: "☆"; }

.icon-cup:before { content: "☕"; }

.icon-menu:before { content: "☰"; }

.icon-moon:before { content: "☽"; }

.icon-heart-empty:before { content: "♡"; }

.icon-heart:before { content: "♥"; }

.icon-note:before { content: "♪"; }

.icon-note-beamed:before { content: "♫"; }

.icon-layout:before { content: "⚏"; }

.icon-flag:before { content: "⚑"; }

.icon-tools:before { content: "⚒"; }

.icon-cog:before { content: "⚙"; }

.icon-attention:before { content: "⚠"; }

.icon-flash:before { content: "⚡"; }

.icon-record:before { content: "⚫"; }

.icon-cloud-thunder:before { content: "⛈"; }

.icon-tape:before { content: "✇"; }

.icon-flight:before { content: "✈"; }

.icon-mail:before { content: "✉"; }

.icon-pencil:before { content: "✎"; }

.icon-feather:before { content: "✒"; }

.icon-check:before { content: "✓"; }

.icon-cancel:before { content: "✕"; }

.icon-cancel-circled:before { content: "✖"; }

.icon-cancel-squared:before { content: "❎"; }

.icon-help:before { content: "❓"; }

.icon-quote:before { content: "❞"; }

.icon-plus-circled:before { content: "➕"; }

.icon-minus-circled:before { content: "➖"; }

.icon-right:before { content: "➡"; }

.icon-direction:before { content: "➢"; }

.icon-forward:before { content: "➦"; }

.icon-ccw:before { content: "⟲"; }

.icon-cw:before { content: "⟳"; }

.icon-left:before { content: "⬅"; }

.icon-up:before { content: "⬆"; }

.icon-down:before { content: "⬇"; }

.icon-list-add:before { content: ""; }

.icon-list:before { content: ""; }

.icon-left-bold:before { content: ""; }

.icon-right-bold:before { content: ""; }

.icon-up-bold:before { content: ""; }

.icon-down-bold:before { content: ""; }

.icon-user-add:before { content: ""; }

.icon-help-circled:before { content: ""; }

.icon-info-circled:before { content: ""; }

.icon-eye:before { content: ""; }

.icon-tag:before { content: ""; }

.icon-upload-cloud:before { content: ""; }

.icon-reply:before { content: ""; }

.icon-reply-all:before { content: ""; }

.icon-code:before { content: ""; }

.icon-export:before { content: ""; }

.icon-print:before { content: ""; }

.icon-retweet:before { content: ""; }

.icon-comment:before { content: ""; }

.icon-chat:before { content: ""; }

.icon-vcard:before { content: ""; }

.icon-address:before { content: ""; }

.icon-location:before { content: ""; }

.icon-map:before { content: ""; }

.icon-compass:before { content: ""; }

.icon-trash:before { content: ""; }

.icon-doc:before { content: ""; }

.icon-doc-text-inv:before { content: ""; }

.icon-docs:before { content: ""; }

.icon-doc-landscape:before { content: ""; }

.icon-archive:before { content: ""; }

.icon-rss:before { content: ""; }

.icon-share:before { content: ""; }

.icon-basket:before { content: ""; }

.icon-shareable:before { content: ""; }

.icon-login:before { content: ""; }

.icon-logout:before { content: ""; }

.icon-volume:before { content: ""; }

.icon-resize-full:before { content: ""; }

.icon-resize-small:before { content: ""; }

.icon-popup:before { content: ""; }

.icon-publish:before { content: ""; }

.icon-window:before { content: ""; }

.icon-arrow-combo:before { content: ""; }

.icon-chart-pie:before { content: ""; }

.icon-language:before { content: ""; }

.icon-air:before { content: ""; }

.icon-database:before { content: ""; }

.icon-drive:before { content: ""; }

.icon-bucket:before { content: ""; }

.icon-thermometer:before { content: ""; }

.icon-down-circled:before { content: ""; }

.icon-left-circled:before { content: ""; }

.icon-right-circled:before { content: ""; }

.icon-up-circled:before { content: ""; }

.icon-down-open:before { content: ""; }

.icon-left-open:before { content: ""; }

.icon-right-open:before { content: ""; }

.icon-up-open:before { content: ""; }

.icon-down-open-mini:before { content: ""; }

.icon-left-open-mini:before { content: ""; }

.icon-right-open-mini:before { content: ""; }

.icon-up-open-mini:before { content: ""; }

.icon-down-open-big:before { content: ""; }

.icon-left-open-big:before { content: ""; }

.icon-right-open-big:before { content: ""; }

.icon-up-open-big:before { content: ""; }

.icon-progress-0:before { content: ""; }

.icon-progress-1:before { content: ""; }

.icon-progress-2:before { content: ""; }

.icon-progress-3:before { content: ""; }

.icon-back-in-time:before { content: ""; }

.icon-network:before { content: ""; }

.icon-inbox:before { content: ""; }

.icon-install:before { content: ""; }

.icon-lifebuoy:before { content: ""; }

.icon-mouse:before { content: ""; }

.icon-dot:before { content: ""; }

.icon-dot-2:before { content: ""; }

.icon-dot-3:before { content: ""; }

.icon-suitcase:before { content: ""; }

.icon-flow-cascade:before { content: ""; }

.icon-flow-branch:before { content: ""; }

.icon-flow-tree:before { content: ""; }

.icon-flow-line:before { content: ""; }

.icon-flow-parallel:before { content: ""; }

.icon-brush:before { content: ""; }

.icon-paper-plane:before { content: ""; }

.icon-magnet:before { content: ""; }

.icon-gauge:before { content: ""; }

.icon-traffic-cone:before { content: ""; }

.icon-cc:before { content: ""; }

.icon-cc-by:before { content: ""; }

.icon-cc-nc:before { content: ""; }

.icon-cc-nc-eu:before { content: ""; }

.icon-cc-nc-jp:before { content: ""; }

.icon-cc-sa:before { content: ""; }

.icon-cc-nd:before { content: ""; }

.icon-cc-pd:before { content: ""; }

.icon-cc-zero:before { content: ""; }

.icon-cc-share:before { content: ""; }

.icon-cc-remix:before { content: ""; }

.icon-github:before { content: ""; }

.icon-github-circled:before { content: ""; }

.icon-flickr:before { content: ""; }

.icon-flickr-circled:before { content: ""; }

.icon-vimeo:before { content: ""; }

.icon-vimeo-circled:before { content: ""; }

.icon-twitter:before { content: ""; }

.icon-twitter-circled:before { content: ""; }

.icon-facebook:before { content: ""; }

.icon-facebook-circled:before { content: ""; }

.icon-facebook-squared:before { content: ""; }

.icon-gplus:before { content: ""; }

.icon-gplus-circled:before { content: ""; }

.icon-pinterest:before { content: ""; }

.icon-pinterest-circled:before { content: ""; }

.icon-tumblr:before { content: ""; }

.icon-tumblr-circled:before { content: ""; }

.icon-linkedin:before { content: ""; }

.icon-linkedin-circled:before { content: ""; }

.icon-dribbble:before { content: ""; }

.icon-dribbble-circled:before { content: ""; }

.icon-stumbleupon:before { content: ""; }

.icon-stumbleupon-circled:before { content: ""; }

.icon-lastfm:before { content: ""; }

.icon-lastfm-circled:before { content: ""; }

.icon-rdio:before { content: ""; }

.icon-rdio-circled:before { content: ""; }

.icon-spotify:before { content: ""; }

.icon-spotify-circled:before { content: ""; }

.icon-qq:before { content: ""; }

.icon-instagram:before { content: ""; }

.icon-dropbox:before { content: ""; }

.icon-evernote:before { content: ""; }

.icon-flattr:before { content: ""; }

.icon-skype:before { content: ""; }

.icon-skype-circled:before { content: ""; }

.icon-renren:before { content: ""; }

.icon-sina-weibo:before { content: ""; }

.icon-paypal:before { content: ""; }

.icon-picasa:before { content: ""; }

.icon-soundcloud:before { content: ""; }

.icon-mixi:before { content: ""; }

.icon-behance:before { content: ""; }

.icon-google-circles:before { content: ""; }

.icon-vkontakte:before { content: ""; }

.icon-smashing:before { content: ""; }

.icon-db-shape:before { content: ""; }

.icon-sweden:before { content: ""; }

.icon-logo-db:before { content: ""; }

.icon-picture:before { content: "🌄"; }

.icon-globe:before { content: "🌎"; }

.icon-leaf:before { content: "🍂"; }

.icon-graduation-cap:before { content: "🎓"; }

.icon-mic:before { content: "🎤"; }

.icon-palette:before { content: "🎨"; }

.icon-ticket:before { content: "🎫"; }

.icon-video:before { content: "🎬"; }

.icon-target:before { content: "🎯"; }

.icon-music:before { content: "🎵"; }

.icon-trophy:before { content: "🏆"; }

.icon-thumbs-up:before { content: "👍"; }

.icon-thumbs-down:before { content: "👎"; }

.icon-bag:before { content: "👜"; }

.icon-user:before { content: "👤"; }

.icon-users:before { content: "👥"; }

.icon-lamp:before { content: "💡"; }

.icon-alert:before { content: "💥"; }

.icon-water:before { content: "💦"; }

.icon-droplet:before { content: "💧"; }

.icon-credit-card:before { content: "💳"; }

.icon-monitor:before { content: "💻"; }

.icon-briefcase:before { content: "💼"; }

.icon-floppy:before { content: "💾"; }

.icon-cd:before { content: "💿"; }

.icon-folder:before { content: "📁"; }

.icon-doc-text:before { content: "📄"; }

.icon-calendar:before { content: "📅"; }

.icon-chart-line:before { content: "📈"; }

.icon-chart-bar:before { content: "📊"; }

.icon-clipboard:before { content: "📋"; }

.icon-attach:before { content: "📎"; }

.icon-bookmarks:before { content: "📑"; }

.icon-book:before { content: "📕"; }

.icon-book-open:before { content: "📖"; }

.icon-phone:before { content: "📞"; }

.icon-megaphone:before { content: "📣"; }

.icon-upload:before { content: "📤"; }

.icon-download:before { content: "📥"; }

.icon-box:before { content: "📦"; }

.icon-newspaper:before { content: "📰"; }

.icon-mobile:before { content: "📱"; }

.icon-signal:before { content: "📶"; }

.icon-camera:before { content: "📷"; }

.icon-shuffle:before { content: "🔀"; }

.icon-loop:before { content: "🔁"; }

.icon-arrows-ccw:before { content: "🔄"; }

.icon-light-down:before { content: "🔅"; }

.icon-light-up:before { content: "🔆"; }

.icon-mute:before { content: "🔇"; }

.icon-sound:before { content: "🔊"; }

.icon-battery:before { content: "🔋"; }

.icon-search:before { content: "🔍"; }

.icon-key:before { content: "🔑"; }

.icon-lock:before { content: "🔒"; }

.icon-lock-open:before { content: "🔓"; }

.icon-bell:before { content: "🔔"; }

.icon-bookmark:before { content: "🔖"; }

.icon-link:before { content: "🔗"; }

.icon-back:before { content: "🔙"; }

.icon-flashlight:before { content: "🔦"; }

.icon-chart-area:before { content: "🔾"; }

.icon-clock:before { content: "🕔"; }

.icon-rocket:before { content: "🚀"; }

.icon-block:before { content: "🚫"; }

