		<div id="nav-bar" class="row-fluid black items-2">
		<ul>
		<li class="active">
		<a data-id="1" href="javascript:void(0)"><i class="icon-star"></i> <span>Dark Navbar</span></a>
		</li>
		<li>
		<a data-id="2" href="javascript:void(0)"><i class="icon-star-empty"></i> <span>Light Navbar</span></a>
		</li>
		<li class="hide">
		<a data-id="3" href="javascript:void(0)"><i class="icon-user"></i> <span>User</span></a>
		</li>
		</ul>
		</div>
