<aside id="side-menu" role="navigation" class="well span4 oc">
	<!--Sidebar content-->

	<ul class="nav nav-list">

		<li class="navigation page">
			{{#linkTo apps.go App.context.default_app}}
			<i class="icon-layout"></i><i class="icon-right-open"></i> {{App.Context.default_app.name}}</a>
			{{/linkTo}}
		</li>
		<li class="list page">
			{{#linkTo apps.go App.context.default_app}}
			<i class="icon-list"></i><i class="icon-right-open"></i> List</a>
			{{/linkTo}}
		</li>
		<li class="elements page">
			<a href="javascript:void(0)"><i class="icon-info-circled"></i><i class="icon-right-open"></i> Elements</a>
		</li>
		<li class="settings">
			<a href="javascript:void(0)"><i class="icon-cog"></i><i class="icon-right-open"></i> Settings</a>
		</li>
		<li class="help">
			{{#linkTo apps.go App.apps.help}}
			<i class="icon-help"></i><i class="icon-right-open"></i> {{App.apps.help.name}}</a>
			{{/linkTo}}
		</li>
		<li class="logout">
			<a href="javascript:void(0);" id="btn-logout"><i class="icon-ccw"></i>Logout</a>
		</li>
	</ul>
</aside>
