<aside id="side-menu" role="navigation" class="well span4 oc">
	<ul class="nav nav-list">
		{{#each link in sideMenuLinks}}
			{{#if link.showLink}}
				<li class="navigation page">
					{{#linkTo apps.go link.linkToRouteContext}}
						{{{link.iconTag}}}<i class="icon-right-open"></i>{{link.linkText}}</a>
					{{/linkTo}}
				</li>
			{{/if}}
		{{/each}}
	</ul>
</aside>
