<script type="text/x-handlebars" data-template-name="popover"/>

    <div class="popover left first">
      <div class="arrow"></div>
      <h3 class="popover-title">Off Canvas Side Menu</h3>
      <div class="popover-content">
        <p>
          </p><ul>
          <li>Menu slides into view with click of button.</li>
          <li>Menu is scrollable vertical when there are many menu items.</li>
          <li>Page does not scroll when sidebar is scrolling.</li>
          </ul>
        <p></p>
      </div>
    </div>
    